<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Pre-Reqs included for completeness -->
    <package id="powershell-core" />
    <package id="git" />
    <package id="vscode" />

    <!-- Core packages -->
    <package id="docker-desktop" />
    <package id="googlechrome" />
    <package id="paint.net" />
    <package id="postman" />
    <package id="slack" /> 
    <package id="nodejs" />
    <package id="python" />
    <package id="poshgit" />
    <package id="az.powershell" version="5.9.0" />

    <!-- Add other packages to taste -->
</packages>